<button (click)="back()">Back</button>

<div class="viewCandidat">
    @for (model of models; track model.numCarte) {
        <div class="candidat">
            <p class="numCarte">Numero de Carte: {{model.numCarte}}</p>
            <p class="nom">Nom: {{model.nom}}</p>
            <p class="prenom">Prenom: {{model.prenom}}</p>
            <p class="date">Date de Naissance: {{model.date}}</p>
            <p class="mail">Mail: {{model.mail}}</p>
            <p class="numTel">Numero de Telephone: +221 {{model.numTel}}</p>
            <p class="nomParti">Nom du Parti: {{model.nomParti}}</p>
            <p class="slogan">Slogan: {{model.slogan}}</p>
            <img [src]="model.photo" [alt]="model.prenom"/>
            <div class="partiColors">
                <div class="couleur {{model.couleurParti1}}"></div>
                <div class="couleur {{model.couleurParti2}}"></div>
                <div class="couleur {{model.couleurParti3}}"></div>
            </div>
            <a class="URL" href={{model.URL}}>Pour Plus d'Information</a>
        </div>
    }    
</div>