.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    .lien{
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: center;
    }
}