<div class="Disconnect">
    <button (click)="onDisconnect()">Disconnect</button>
</div>
<div class="landing">

    <div class="lien">
        <div class="onAddCandidat">
            <button (click)="onAddCandidat()">Add Candidat</button>
        </div>
    
        <div class="onViewCandidat">
            <button (click)="onViewCandidat()">View Candidats</button>
        </div>
    </div>

    <div class="lien">
        <div class="onParrainage">
            <button (click)="onParrainage()">Periode Parrainage</button>
        </div>
    
        <div class="onUploadElecteur">
            <button (click)="onUploadElecteur()">Upload Electeur</button>
        </div>
    </div>

    <div class="lien">
        <div class="onDashboard">
            <button (click)="onDashboard()">DashBoard</button>
        </div>
    </div>

</div>